.booksGallery {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 15px;
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  background-color: rgb(235, 235, 235);
}

.foundResult {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
