h1 {
  text-align: center;
}

.formWrapper {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;

  z-index: 1100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;

  color: #fff;
  background-color: rgb(122, 122, 122);
  background-image: url(https://besthqwallpapers.com/Uploads/30-3-2020/126996/thumb2-books-reading-books-background-with-books-bookshelf.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -166px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.form {
  width: 100%;
}

.input {
  display: inline-block;
  width: 50%;
  min-width: 150px;
  font: inherit;
  font-size: 20px;
  border: none;
  outline: none;
  padding-left: 4px;
  padding-right: 4px;
}

.select {
  display: inline-block;
  width: 114px;
  font: inherit;
  font-size: 20px;
  border: none;
  outline: none;
  padding-left: 4px;
  padding-right: 4px;
}

.textSelectWrapper {
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.select:not(:last-child) {
  margin-right: 10px;
}

.inputButtonWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.selectWrapper {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
