h1 {
  text-align: center;
}

.form {
}

.inputButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formWrapper {
  margin: 0 auto;
  width: 70%;
  text-align: center;
  margin-bottom: 20px;
}
.selectWrapper {
}
